.ContactUs{
    padding: 100px 0px;
    position: relative;
}



.ContactUs h1 {
    color: #102C50;
    width: 230px;
    
}






.ContactUs .line1 {
    background: #E71E68;
    width: 140px;
    height: 3px;
    position: absolute;
    top: 160px;
    right: 88%;
}


.ContactUs p {
    width: 585px;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 40px;
}




.call{
    color: #E71E68;
}


.call p{
    line-height: 40px;
}

.call .Icon{
    margin-right: 20px;
}



.ContactImage button{
    background: #E71E68;
}