.Resent{
    margin-top: 200px;
    padding:  100px 0px;
    background: #a5fbf9;
    width: 100%;
    overflow: hidden;
}

.Efficent {
    width: 350px !important;
    padding: 50px;
    cursor: pointer;
    transition: linear .1s;
    margin-left: 0px;
    text-align: center;
    position: relative;
    
}

.Efficent h2 {
    display: inline-block;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    transition: all linear .4s;
}



.Efficent img {
    display: inherit;
    margin-bottom: 20px;
    transition: linear .1s;
    
}


.Efficent .Icon {
    display: inherit;
    transition: linear .1s;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    transition: all linear .4s;
}


.Efficent p {
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    visibility: hidden;
    transition: all linear .4s;
    position: absolute;
    top: 15px;
    left: 60px;
}


.Efficent:hover p{
    visibility: visible;
   
}



.Efficent:hover .Icon{
    width: 0px;
   
}

.Efficent:hover h2{
    color: #E71E68;   
    width: 100%;    
    padding: 0px;
    margin: 0px;
    
    
}


.Efficent:hover .Icon{
    color: #E71E68;
    font-size: 50px;
 
}




.Efficent:hover{
    box-shadow: 0px 1px 9px .23 #000000;
    background: #FFF; 
    border-radius: 20px;
    margin-left: 10px;
    
    
}

