.Waiting {
    width: 800px;
    padding: 30px;
    display: flex;
    box-shadow: 0px 1px 9px -3px #000000;
    margin: 0 auto;
    border-radius: 10px;
}


.Waiting h1{
    color: #E71E68;
    font-size: 35px;
    font-weight: 700;
    font-family: Sitka Subheading;
}


.Waiting .Start{
    margin-top: 50px;
    margin-left: 90px;
    background: #E40046;
    padding: 10px 10px;
    color: #FFF;
    transition: linear .4s;
}




.Waiting .Start:hover{
    color: #000000;
    border: 2px solid #E40046;
}